<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    command="cat /home/yfx/lerobot_piper/lerobot/common/teleoperators/so102_leader/Leader_arm_links.SLDASM/urdf/Leader_arm_links.SLDASM.urdf"/>
    <!-- textfile="$(find Leader_arm_links.SLDASM)/urdf/Leader_arm_links.SLDASM.urdf" /> -->
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
        />
    <!-- args="-d $(find Leader_arm_links.SLDASM)/urdf.rviz" -->

</launch>